body{
background-image:url('bgmm.jpg');
height:98%;
width:98%;
}
h1{
padding-top:60px;
padding-left:80px;
text-align:center;
color:white;
font-size:70px;
}
form button{
padding:50px;
 border: 1px double black;
}
p{
font-size:40px;
color:white;
text-align:center;
}
form{
padding:30px 30px 30px 30px;
text-align:center;
color:white;
font-size:50px;
border-radius:30px;
}
label {
display: inline-block;
width: 108px;
text-align: center;
 }
