body{
background-image:url('bgmm.jpg');
color: white;
padding-top:10px;
padding-bottom:50px;
font-family:cambria;
text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px 10px 30px;
  overflow: hidden;
  text-decoration:none;
  font-size:20px;
}

li {
	padding-left:30px;
  float: right;
}

li a {
  display: block;
  padding: 8px;
}
body{
background-image: url('bgmm.jpg');
}
a{
color:#F9F9F3;
text-decoration:none;
}
h1{
padding-top:20px;
color:white;
text-align:center;
font-size:70px;
}
table, th, td {
	
    border: 2px solid black;
	margin: auto;
  text-align:center;
}
  tr:hover {
  background-color: black;
  }
button{
padding:10px;
}

.topnav input[type=text] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  float:right;
  padding-top:8.1px;
  padding-left:30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover{
	background-color: #ddd;
	}

.dropdown:hover .dropdown-content{
	display: block;
	}

.dropdown:hover .dropbtn{
	background-color: #3e8e41;
	}









